/video/test_video_2.mp4
/video/test_video_3.mp4
/video/test_video_4.mp4
/video/test_video_5.mp4
/deepsort_2.py
/Users/maxkucher/PycharmProjects/bcs_ai_/models/tactic_model_v01.pt
./models/training_old.ipynb
teacher_model.pt
servo_test.py
